<div class="d-flex justify-content-between "
    style="padding: 8px 16px;margin-top: 60px; background-color:#198754; color: white; text-align: right;">
    <span>© 2022
        All Copyrights are preserved to TAJ MAHAL</span>
        <span >
            <i class="fab fa-facebook-square m-1 text-md" style="cursor: pointer; font-size: x-large;"></i>
            <i class="fab fa-instagram m-1 " style="cursor: pointer;font-size: x-large;"></i>
            <i class="fab fa-twitter-square m-1" style="cursor: pointer;font-size: x-large;"></i>
        </span></div>